@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(1, 0, 19);
  text-decoration: none;
}

.App {
  width: 100%;
  height: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #2c2c2c;
  width: 100%;
  height: 100%;
  color: white;
}

::placeholder {
  text-align: center;
}

.log-sentence {
  color: white;
}

.log-sentence {
  color: white;
}

.topic-card-username {
  margin-top: 10px;
}

.description {
  color: rgb(223, 223, 223);
  font-style: italic;
}

.low-section-topic-card {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card-container {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.my-topics-section {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-login {
  margin-top: 25vh;
  text-align: center;
}

.log {
  display: flex;
  flex-direction: column;
}

.log input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: solid 0;
  margin-bottom: 30px;
  box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.24);
}

select {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: solid 0;
  margin-bottom: 30px;
  box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.24);
}

textarea {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  border: solid 0;
  margin-bottom: 30px;
  box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.24);
}

.edit-profile-form textarea {
  margin-top: 40px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  border: solid 0;
  margin-bottom: 30px;
  /* box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.24); */
  box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.199);
  background-color: #EEEEEE;
}

.edit-profile-form input {
  text-align: center;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: solid 0;
  /* box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.24); */
  box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.199);
  background-color: #EEEEEE;
}

textarea::placeholder {
  padding-top: 90px;
}

.span-account {
  font-weight: 700;
  font-size: 1.1rem;
  color: #ff006c;
}

.span-account2 {
  font-weight: 700;
  font-size: 1.1rem;
  color: #0076ff;
}

.App {
  display: flex;
  flex-direction: row;
}

.search-bar {
  position: absolute;
  margin-left: 140px;
  margin-top: 40px;
  height: 30px;
}

.search-bar input {
  height: 40px;
  width: 200px;
  border-radius: 50px;
  border: solid 0;
  box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.301);
}

.search-icon {
  position: absolute;
  margin-left: 160px;
  margin-top: 5px;
}

.navbar {
  background-color: #2c2c2c;
  color: white;
  width: 90px;
  height: 100%;
  position: fixed;
  box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.438);
}

.first-btn {
  margin-top: 90px;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  /* background-color: rgb(173, 33, 33); */
  background-color: #2c2c2c;
  transform: scale(0.8);
  transition: all 0.09s ease-in-out;
}

.nav-btn:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: #3b3b3b;
  /* background-color: #2C2C2C; */
  transform: scale(1);
  transition: all 0.19s ease;
  box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.438);
}

.logout-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: #2c2c2c;
  margin-top: 150px;
}

.profile-container {
  display: flex;
  align-content: space-around;
  margin-left: 190px;
}

.profile-data h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 20px;
}

.profile-data p {
  font-size: 1.2rem;
  width: 400px;
  margin: 0 auto;
  margin-top: 40px;
}

.profile-data {
  text-align: center;
  margin-top: 200px;
}

.fav-section {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fav-section h2 {
  margin-bottom: 30px;
  font-size: 1.3rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEEEEE;
  height: 100%;
  width: 100%;
}

html {
  background-color: #EEEEEE;
  height: 100%;
  width: 100%;
}

.home h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.active {
  width: 40px;
  height: 9px;
  background-color: #ff006c;
  margin-bottom: 50px;
}



.testcards {
  width: 100%;
}

.topic-card {
  display: flex;
  /* margin-left: 250px; */
  width: 900px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-left: 50px;
  border-radius: 7px;
  /* box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.246); */
  box-shadow: -6px -3px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.11);
  text-decoration: none;
  color: rgb(0, 0, 20);
  background-color: #EEEEEE;
}

.topic-card-profile {
  display: flex;
  width: 600px;
  height: 120px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-left: 30px;
  border-radius: 7px;
  /* box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.3); */
  box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.11);
}

.favorite {
  margin-top: 10px;
  margin-left: 20px;
}

.fav-section h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.topic-card h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 15px;
}

.topic-card p {
  font-size: 1.1rem;
  margin-top: 30px;
  display: block;
  width: 650px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.delete-btn {
  margin-top: 20px;
  background-color: #ff006c;
  color: white;
  /* box-shadow: 4px 0px 10px 0px; */
  box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.199);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 0 solid;
  text-transform: uppercase;
}

.topic-card h5 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 15px;
}

.topic-card-special {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 75vw;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.161);
}

.delete {
  padding-left: 50px;
}

.delete-profile {
  width: 75%;
  height: auto;
}

.edit-profile-container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.votesss {
  padding-bottom: 10px;
}

.my-topic-card_votes  {
  justify-content: center;
  background-color: #ff006c;
  padding-left: 25px;
  color: #ff006c;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
}

.right-column {
  margin-left: 20px;
}

/* .photo {
  height: 100px;
  width: 100px;
} */

.img-topic {
  border-radius: 5px;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.topic-details-container {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
}

.comment-section {
  display: flex;
  flex-direction: column-reverse;
}

.last-topics-container {
  display: flex;
  flex-direction: column-reverse;
}

.last-favorites-added {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding-top: 10vh;
}

.favorites-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-title {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: bold;
}

.img-inside-topic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 100px;
  border: 4px solid #EEEEEE;
  box-shadow: -12px -12px 10px 0 rgba(255, 255, 255, 1),
    3px 3px 12px 0 rgba(0, 0, 0, 0.199);
}

.testcards {
  background-color: #EEEEEE;
}

.left-part {
  width: 700px;
}

.topic-info h1 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.topic-info p {
  font-size: 1.3rem;
  margin-top: 60px;
  text-transform: full-width;
}

.topic-info h6 {
  margin-top: 20px;
  font-weight: 300;
}

.comment-form {
  display: flex;
  margin: 30px 0;
}

.input-comment {
  width: 100%;
  margin-right: 15px;
  border-radius: 5px;
  border: 0 solid;
  box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.11);
  background-color: rgb(243, 242, 242);
}

.test-flex {
  display: flex;
  justify-content: center;
  /* background-color: rgb(231, 231, 231); */
}


.topic-preview-profile h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 25px;

  /* white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: normal; */
}

.topic-preview-profile {
  width: 570px;
  overflow-wrap: normal;
  overflow: scroll;
  height: 100px;
}

.delete-btn-profile-topic {
  margin-left: 10px;
  box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.199);
}

.submit-btn {
  background-color: #0076ff;
  color: white;
  /* box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.301); */
  box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.11);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 0 solid;
  text-transform: uppercase;
}

.commentMsg p {
  margin: 15px 0;
  color: rgb(63, 63, 63);
  overflow-wrap: normal;
}

.edit-btn {
  background-color: #0076ff;
  color: white;
  /* box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.301); */
  box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.199);
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 0 solid;
  text-transform: uppercase;
}

.signup-btn {
  background-color: #ff006c;
  color: white;
  /* box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.301); */
  box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.199);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 0 solid;
}

.separation {
  width: 2px;
  height: 450px;
  background-color: rgb(218, 218, 218);
  margin-left: 130px;
  margin-right: 130px;
}

.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  object-fit: unset;
}

.arrow-vote {
  height: 15px;
  width: auto;
  margin: 15px 15px 0 15px;
}

.default h1 {
  font-size: 3rem;
  font-weight: 900;
}

.separation-2 {
  width: 100%;
  height: 2px;
  background-color: rgb(224, 224, 224);
  margin-right: 130px;
}

.separation-profile {
  width: 2px;
  height: 450px;
  background-color: rgb(218, 218, 218);
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 250px;
}

.topic-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.see-profile-btn {
  background-color: #ff006c;
  color: white;
  /* box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.301); */
  box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.199);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 0 solid;
  width: max-content;
  margin-top: 30px;
}

.name-user-topic {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.edit-form-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.form-profile {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* form input {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 3px 3px 15px rgba(184, 184, 184, 0.575);
  border-radius: 5px;
  padding: 10px 30px;
  text-align: left;
  font-style: italic;
  width: 200px;
} */

input {
  background-color: #EEEEEE;
  border: solid 0;
  box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.199);
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}

.my-topics {
  height: 1px;
  background-color: #0076ff;
  margin-bottom: 200px;
}

.my-comments {
  height: 50px;
  width: 900px;
  border-radius: 5px;
  border: solid 0;
  margin-bottom: 30px;
  box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.24);
}

.topic-upvote {
  display: flex;
}

.my-comments p {
  margin-left: 50px;
  margin-top: 15px;
  width: 800px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.add-topic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEEEEE;
}

.add-topic-form .title-input {
  background-color: #EEEEEE;
  box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.11);
}

.add-topic-form select {
  background-color: #EEEEEE;
  box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.11);
  color: rgba(0, 0, 0, 0.521);
  text-align: center;
}

.add-topic-form textarea {
  background-color: #EEEEEE;
  box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 12px 0 rgba(0, 0, 0, 0.11);
}

.add-topic-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.div-add-topic {
  display: flex;
  flex-direction: column;
}

.profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.301);
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navbar {
    display: flex;
    justify-content: center;
    background-color: #2c2c2c;
    color: white;
    width: 100vw;
    height: 10vh;
    position: fixed;
    overflow-y: scroll;
    bottom: 0;
    box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.438);
  }

  .first-btn {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }

  .logout-nav {
    margin-top: 0;
  }

  .nav-btn {
    width: 90px;
    height: 90px;
    background-color: #2c2c2c;
    transform: scale(0.8);
    transition: all 0.09s ease-in-out;
  }
  
  .nav-btn:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: #3b3b3b;
    transform: scale(1);
    transition: all 0.19s ease;
    box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.438);
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEEEEE;
    height: 100vh;
    width: 100vw;
  }

  .topic-card {
    display: flex;
    /* margin-left: 250px; */
    width: 70vw;
    height: 20vh;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    border-radius: 7px;
    /* box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.246); */
    box-shadow: -6px -3px 10px 0 rgba(255, 255, 255, 1),
    3px 3px 12px 0 rgba(0, 0, 0, 0.11);
    text-decoration: none;
    color: rgb(0, 0, 20);
    background-color: #EEEEEE;
  }

  .testcards {
    width: 100vw;
    height: 100vh;
  }

  .topic-card p {
    font-size: 1.1rem;
    margin-top: 1vh;
    display: block;
    width: 25vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .topic-card h5 {
    font-size: 1.1rem;
    font-weight: 500;
    width: 24vw;
    overflow: hidden;
    white-space: nowrap;
  }

  .topic-card h3 {
    font-size: 1.1rem;
    font-weight: 500;
    width: 24vw;
    overflow: hidden;
    white-space: nowrap;
  }

  .test-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .separation {
    width: 0;
    height: 0;
    background-color: rgb(218, 218, 218);
    margin-left: 0;
    margin-right: 0;
  }

  .img-inside-topic{
    width: 0;
    height: 0;
  }

  .posted {
    font-size: 0;
  }

  .topic-user {
    width: 0;
    height: 0;
  }

  .left-part {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .topic-details-container {
    margin-top: 10vh;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    margin-left: 0;
  }

  .separation-profile {
    height: 0.3vh;
    width: 75vw;
    background-color: rgb(218, 218, 218);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
  }

  .topic-card-profile {
    display: flex;
    width: 70vw;
    height: 20vh;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-left: 30px;
    border-radius: 7px;
    /* box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.3); */
    box-shadow: -8px -8px 10px 0 rgba(255, 255, 255, 1),
    3px 3px 12px 0 rgba(0, 0, 0, 0.11);
  }

  .fav-section {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topic-preview-profile h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 25px;
    width: 60vw;
    overflow: hidden;
    white-space: nowrap;
  }


  .topic-preview-profile p {
    width: 60vw;
    overflow: hidden;
    white-space: nowrap;
  
    /* white-space: nowrap;
    text-overflow: ellipsis;
    overflow-wrap: normal; */
  }

  .big-topic-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
  }

  .edit-profile-form {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 15vh;
  }

  .all-login {
    margin-top: 15vh;
    text-align: center;
  }

  .end-section {
    height: 10vh;
  }

}