@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto';
  /* color: rgb(1, 0, 19); */
  text-decoration: none;
}

.App {
  width: 100%;
  height: 940px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #2C2C2C;
  width: 100%;
  height: 100%;
  color: white;
}

.topic-card-username {
  margin-top: 10px;
}

.low-section-topic-card {
  display: flex;
}

.card-container {
  text-decoration: none;
  color: #2C2C2C !important;
}

.all-login {
  margin-top: 300px;
  text-align: center;
}

.log {
  display: flex;
  flex-direction: column;
}

.log input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: solid 0;
  margin-bottom: 30px;
  box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.24)
}

.span-account {
  font-weight: 700;
  font-size: 1.1rem;
  color: #FF006C;
}

.span-account2 {
  font-weight: 700;
  font-size: 1.1rem;
  color: #0076FF;
}

.App {
  display: flex;
  flex-direction: row;
}

.search-bar {
  position: absolute;
  margin-left: 140px;
  margin-top: 40px;
  height: 30px;
}

.search-bar input {
  height: 40px;
  width: 200px;
  border-radius: 50px;
  border: solid 0;
  box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.301)
}

.search-icon {
  position: absolute;
  margin-left: 160px;
  margin-top: 5px;
}

.navbar {
  background-color: #2C2C2C;
  color: white;
  width: 90px;
  height: 100%;
  position: fixed;
  box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.438);
}

.navbar-container {
  margin-top: 90px;

}

.nav-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  /* background-color: rgb(173, 33, 33); */
  background-color: #2C2C2C;
  transform: scale(0.8);
  transition: all 0.09s ease-in-out;
}

.nav-btn:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: #3B3B3B;
  /* background-color: #2C2C2C; */
  transform: scale(1);
  transition: all .19s ease;  
  box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.438);
}

.logout-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: #2C2C2C;
  margin-top: 150px;
}

.profile-container {
  display: flex;
  align-content: space-around;
  margin-left: 190px;
}

.profile-data h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 20px;
}

.profile-data p {
  font-size: 1.2rem;
  width: 400px;
  margin: 0 auto;
  margin-top: 40px;
}

.profile-data {
  text-align: center;
  margin-top: 200px;
  width: 450px;
}

.fav-section {
  margin-top: 200px;
  /* margin-left: 100px; */
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 1.7rem;
}

.active {
  width: 40px;
  height:9px;
  background-color: #FF006C;
  margin-bottom: 50px;
}

.topic-card {
  display: flex;
  margin-left: 250px;
  width: 1200px;
  height: 150px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-left: 50px;
  border-radius: 7px;
  box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.246);
  text-decoration: none;
  color: rgb(0, 0, 20);
}

.topic-card-profile {
  display: flex;
  width: 600px;
  height: 120px;
  margin-bottom: 40px;
  padding-top: 50px;
  padding-left: 30px;
  border-radius: 7px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.161);
}

.fav-section h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}


.topic-card:hover {
  /* transform: scale(1.05); */
  border: 1px solid rgb(241, 72, 129);
}

.topic-card h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 15px;
}

.topic-card p {
  font-size: 1.1rem;
  margin-top: 30px;
  display: block;
  width: 950px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.topic-card h5 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 15px;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
}

.right-column {
  margin-left: 20px;
}

/* .photo {
  height: 100px;
  width: 100px;
} */

.img-topic{
  border-radius: 5px;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.topic-details-container {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  margin-top: 200px;
}

.comment-section {
  display: flex;
  flex-direction: column-reverse;
}

.last-topics-container {
  display: flex;
  flex-direction: column-reverse;
}

.img-inside-topic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 70px;
}

.left-part {
  width: 700px;
}

.topic-info h1 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.topic-info p {
  font-size: 1.3rem;
  margin-top: 60px;
  text-transform: full-width;
}

.topic-info h6 {
  margin-top: 20px;
  font-weight: 300;
}

.comment-form {
  display: flex;
  margin: 30px 0; 
}

.input-comment {
  width: 500px;
  margin-right: 15px;
  border-radius: 5px;
  border: 0 solid;
  box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.301);
}

.submit-btn {
  background-color: #0076FF ;
  color: white;
  box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.301);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 0 solid;
  text-transform: uppercase;
}

.commentMsg p {
  margin: 15px 0;
  color: rgb(63, 63, 63);
  overflow-wrap: normal;
}

.edit-btn {
  background-color: #0076FF ;
  color: white;
  box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.301);
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 0 solid;
  text-transform: uppercase;
}

.signup-btn {
  background-color: #FF006C ;
  color: white;
  box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.301);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 0 solid;
}

.separation {
  width: 2px;
  height: 450px;
  background-color: rgb(218, 218, 218);
  margin-left: 130px;
  margin-right: 130px;
}

.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  object-fit: unset;
}

.arrow-vote {
  height: 15px;
  width: auto;
  margin: 15px 15px 0 15px;
}

.default h1 {
  font-size: 3rem;
  font-weight: 900;
}

.separation-2 {
  width: 100%;
  height: 2px;
  background-color: rgb(238, 238, 238);
  margin-right: 130px;
}

.separation-profile {
  width: 2px;
  height: 450px;
  background-color: rgb(218, 218, 218);
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 250px;
}

.topic-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.see-profile-btn {
  background-color: #FF006C;
  color: white;
  box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.301);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 0 solid;
  width: max-content;
}

.edit-form-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.form-profile {
  display: flex;
  align-content: center;
}

/* form input {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 3px 3px 15px rgba(184, 184, 184, 0.575);
  border-radius: 5px;
  padding: 10px 30px;
  text-align: left;
  font-style: italic;
  width: 200px;
} */

.edit-profile-form {
  display: flex;
  flex-direction: column;
  margin-left: 500px;
  margin-top: 100px;
}

.my-topics {
  height: 1px;
  background-color: #0076FF;
  margin-bottom: 200px;
}


.add-topic-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.div-add-topic {
  display: flex;
  flex-direction: column;
}

.profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.301);
}